# Brookes Invoice Match

### Material

In [448]:
# import pandas as pd
# import numpy as np
# invoice = pd.read_csv("invoice.csv", encoding="latin1")
# invoice = invoice[["Concatenate (Fusion)", "Concatenate (EBS)", "S. No.", "Supplier Name",
#                   "Purchase Order No", "EBS No", "Fusion Receipt No", "Invoice Ref."]]
# receiving = pd.read_csv("monitoring.csv",
#                         encoding="latin1", parse_dates=["PO ( EBS ) Delivery Date","MRR Date ( EBS )",
#                                                         "Sample Date", "MRR Release Date",
#                                                         "Invoice Date", "Invoice Record Date"])
# receiving = receiving.drop(receiving.tail(2).index) #remove last 2 rows from data frame

# receiving[["PO No  ( EBS )", "MRR No. ( EBS )", "MRR No. ( Fusion )", 
#            "Invoice Number"]] = receiving[["PO No  ( EBS )", "MRR No. ( EBS )", 
#                                            "MRR No. ( Fusion )", "Invoice Number"]].fillna("0")

# receiving[["PO No  ( EBS )", "MRR No. ( EBS )", "MRR No. ( Fusion )"]] = receiving[["PO No  ( EBS )", "MRR No. ( EBS )", "MRR No. ( Fusion )"]].astype(int)
# receiving[["PO No  ( EBS )", "MRR No. ( EBS )", "MRR No. ( Fusion )"]] = receiving[["PO No  ( EBS )", "MRR No. ( EBS )", "MRR No. ( Fusion )"]].astype(str)
# receiving["Concatenate (EBS)"] = pd.concat([receiving['PO No  ( EBS )'].astype(str),
#                                       receiving['MRR No. ( EBS )']], axis=1).agg('-'.join, axis=1)
# receiving["Concatenate (Fusion)"] = pd.concat([receiving['PO No  ( EBS )'].astype(str),
#                                       receiving['MRR No. ( Fusion )']], axis=1).agg('-'.join, axis=1)
# required_invoices = receiving[receiving["Invoice Number"] == "0"]
# required_invoices = required_invoices[['Concatenate (Fusion)', 'Concatenate (EBS)', 'Supplier','PO No  ( EBS )',
#        'PO ( EBS ) Delivery Date', 'Quantity', 'Value', 'MRR No. ( EBS )',
#        'MRR Date ( EBS )', 'MRR No. ( Fusion )', 'Item Name', 'MRR Release Date',
#                        'Invoice Number', 'Invoice Date', 'Invoice Record Date']]
# ebs_df = required_invoices.merge(invoice, how="left", on="Concatenate (EBS)")
# ebs_df = ebs_df[["Concatenate (EBS)", "Supplier", "PO No  ( EBS )", "PO ( EBS ) Delivery Date", 
#                    "MRR No. ( EBS )", "MRR Date ( EBS )", "MRR No. ( Fusion )", "MRR Release Date",
#                    "Invoice Number", "Invoice Ref."]]
# ebs_df["Invoice Ref."].fillna("Not Submitted", inplace=True)
# ebs_df = ebs_df[(ebs_df["MRR Date ( EBS )"].dt.year == 2023)]
# not_submitted_invoice = ebs_df[ebs_df["Invoice Ref."] == "Not Submitted"]
# submitted_invoice = ebs_df[ebs_df["Invoice Ref."] != "Not Submitted"]
# excel_file = "Invoices_data_ebs.xlsx"
# with pd.ExcelWriter(excel_file, engine="xlsxwriter") as writer:
#     submitted_invoice.to_excel(writer, sheet_name="Submitted", index=False)
#     not_submitted_invoice.to_excel(writer, sheet_name="Not Submitted", index=False)
# not_submitted_invoice.to_csv("required_invoices_ebs.csv", index=False)

### Services

In [449]:
# import pandas as pd
# import numpy as np
# invoice = pd.read_csv("invoice.csv", encoding="latin1")
# invoice = invoice[["Concatenate (Fusion)", "Concatenate (EBS)", "S. No.", "Supplier Name",
#                   "Purchase Order No", "EBS No", "Fusion Receipt No", "Invoice Ref."]]
# receiving = pd.read_csv("monitoring.csv",
#                         encoding="latin1", parse_dates=["PO ( EBS ) Delivery Date","MRR Date ( EBS )",
#                                                         "Sample Date", "MRR Release Date",
#                                                         "Invoice Date", "Invoice Record Date"])
# receiving = receiving.drop(receiving.tail(2).index) #remove last 2 rows from data frame
# receiving[["PO No  ( EBS )", "MRR No. ( EBS )", "MRR No. ( Fusion )", "Invoice Number"]] = receiving[["PO No  ( EBS )", "MRR No. ( EBS )", "MRR No. ( Fusion )", "Invoice Number"]].fillna("0")
# receiving[["PO No  ( EBS )", "MRR No. ( EBS )", "MRR No. ( Fusion )"]] = receiving[["PO No  ( EBS )", "MRR No. ( EBS )", "MRR No. ( Fusion )"]].astype(int)
# receiving[["PO No  ( EBS )", "MRR No. ( EBS )", "MRR No. ( Fusion )"]] = receiving[["PO No  ( EBS )", "MRR No. ( EBS )", "MRR No. ( Fusion )"]].astype(str)
# receiving["Concatenate (EBS)"] = pd.concat([receiving['PO No  ( EBS )'].astype(str),
#                                       receiving['MRR No. ( EBS )']], axis=1).agg('-'.join, axis=1)
# receiving["Concatenate (Fusion)"] = pd.concat([receiving['PO No  ( EBS )'].astype(str),
#                                       receiving['MRR No. ( Fusion )']], axis=1).agg('-'.join, axis=1)

# required_invoices = receiving[receiving["Invoice Number"] == "0"]
# required_invoices = required_invoices[['Concatenate (Fusion)', 'Concatenate (EBS)', 'Supplier','PO No  ( EBS )',
#        'PO ( EBS ) Delivery Date', 'Quantity', 'Value', 'MRR No. ( EBS )',
#        'MRR Date ( EBS )', 'MRR No. ( Fusion )', 'Item Name', 'MRR Release Date',
#                        'Invoice Number', 'Invoice Date', 'Invoice Record Date']]
# fusion_df = required_invoices.merge(invoice, how="left", on="Concatenate (Fusion)")
# fusion_df = fusion_df[["Concatenate (Fusion)", "Supplier", "PO No  ( EBS )", "PO ( EBS ) Delivery Date", 
#                    "MRR No. ( EBS )", "MRR Date ( EBS )", "MRR No. ( Fusion )", "MRR Release Date",
#                    "Invoice Number", "Invoice Ref."]]
# fusion_df["Invoice Ref."].fillna("Not Submitted", inplace=True)
# # fusion_df = fusion_df[(fusion_df["MRR Date ( EBS )"].dt.year == 2023)]
# not_submitted_invoice = fusion_df[fusion_df["Invoice Ref."] == "Not Submitted"]
# submitted_invoice = fusion_df[fusion_df["Invoice Ref."] != "Not Submitted"]
# excel_file = "Invoices_data_fusion.xlsx"
# with pd.ExcelWriter(excel_file, engine="xlsxwriter") as writer:
#     submitted_invoice.to_excel(writer, sheet_name="Submitted", index=False)
#     not_submitted_invoice.to_excel(writer, sheet_name="Not Submitted", index=False)
# not_submitted_invoice.to_csv("required_invoices_fusion.csv", index=False)

In [450]:
# receiving["PO ( EBS ) Delivery Date"].fillna("2020-06-01", inplace=True)

# receiving.loc[:,("PO ( EBS ) Delivery Date","MRR Date ( EBS )", "Sample Date", "MRR Release Date",
#           "Invoice Date", "Invoice Record Date")] = receiving.loc[:,("PO ( EBS ) Delivery Date","MRR Date ( EBS )", "Sample Date", "MRR Release Date",
#           "Invoice Date", "Invoice Record Date")].fillna("0000-00-00")

In [451]:
# receiving["PO ( EBS ) Delivery Date"] = pd.to_datetime(receiving["PO ( EBS ) Delivery Date"])
# receiving["MRR Date ( EBS )"] = pd.to_datetime(receiving["MRR Date ( EBS )"])
# receiving["Sample Date"] = pd.to_datetime(receiving["Sample Date"])
# receiving["MRR Release Date"] = pd.to_datetime(receiving["MRR Release Date"])
# receiving["Invoice Date"] = pd.to_datetime(receiving["Invoice Date"])
# receiving["Invoice Record Date"] = pd.to_datetime(receiving["Invoice Record Date"])

In [452]:
# !pip install cowsay

In [453]:
# import cowsay
# cowsay.fox('''Wishing You All A Very Happy New Year 2024!
# Just For Fun In A Pythonic Way
# From Atif Salam.....''')

In [454]:
import pandas as pd

In [455]:
invoice = pd.read_csv("invoice.csv", encoding="latin-1")

In [456]:
invoice['Invoice Date'] = invoice['Invoice Date'].str.strip()

In [457]:
invoice.iloc[[11,2373,4012,4313]]

,Concatenate (Fusion),Concatenate (EBS),S. No.,Supplier Name,Purchase Order No,EBS No,Fusion Receipt No,Invoice Ref.,Invoice Date,Submitted Date,Amount,Remarks (If any),DC Number,Original DC,Unnamed: 14,Overdue Days,Unnamed: 16
11,4999-,4999-3425,3550,Metier Ampoule,4999,3425,NaN,18190093,04-Jan-00,17-Jun-19,"542,599.00",NaN,NaN,NaN,NaN,NaN,NaN
2373,P/098-4244,P/098-4473,5912,Iftekhar International,P/098,4473,4244,P/098,117/2020,03-Jan-19,"47,334.00",NaN,NaN,NaN,NaN,NaN,NaN
4012,7527-4365,7527-2454,1532,Zauq International,7527,2454,4365,20-211,01-my-2020,09-Jun-20,"1,217,970.00",NaN,DLN 30042002,NaN,NaN,NaN,NaN
4313,8447-4682,8447-2623,1832,Micro Scientific,8447,2623,4682,13794,08-kuly-20,15-Jul-20,"579,852.00",NaN,8803,Yes,NaN,NaN,NaN

In [458]:
invoice.at[11, "Invoice Date"] = "04-Jun-19"

In [459]:
invoice.at[4012, "Invoice Date"] = "01-May-20"

In [460]:
invoice.at[4313, "Invoice Date"] = "08-July-20"

In [461]:
invoice.at[2373, "Invoice Date"] = "11-July-19"

In [462]:
invoice.at[0, "Invoice Date"] = "14-Jun-19"

In [463]:
invoice = invoice[["Concatenate (EBS)", "Supplier Name", "Purchase Order No", "EBS No", "Invoice Ref.",
                  "Invoice Date", "Submitted Date", "Amount"]]

In [464]:
invoice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16376 entries, 0 to 16375
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Concatenate (EBS)  16376 non-null  object
 1   Supplier Name      16376 non-null  object
 2   Purchase Order No  16363 non-null  object
 3   EBS No             14357 non-null  object
 4   Invoice Ref.       16342 non-null  object
 5   Invoice Date       16369 non-null  object
 6   Submitted Date     16249 non-null  object
 7   Amount             16358 non-null  object
dtypes: object(8)
memory usage: 1023.6+ KB

In [465]:
invoice['Invoice Date'] = pd.to_datetime(invoice['Invoice Date'])

C:\Users\atif\AppData\Local\Temp\ipykernel_16292\3046197049.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  invoice['Invoice Date'] = pd.to_datetime(invoice['Invoice Date'])

In [466]:
invoice.iloc[11646]

Concatenate (EBS)             12732-4562
Supplier Name                 Noor & Co.
Purchase Order No                  12732
EBS No                              4562
Invoice Ref.                         135
Invoice Date         2022-03-08 00:00:00
Submitted Date                 44,644.00
Amount                        168,750.00
Name: 11646, dtype: object

In [467]:
invoice.at[11646, "Submitted Date"] = "08-Mar-22"

In [468]:
invoice.iloc[275]

Concatenate (EBS)              4682-1410
Supplier Name                  Pak Gases
Purchase Order No                   4682
EBS No                              1410
Invoice Ref.                        4680
Invoice Date         2019-06-15 00:00:00
Submitted Date                 08-Jul-19
Amount                          1,695.50
Name: 275, dtype: object

In [469]:
invoice.at[275, "Submitted Date"] = "08-Jul-19"

In [470]:
invoice['Submitted Date'] = pd.to_datetime(invoice['Submitted Date'], dayfirst=True, errors="coerce")

C:\Users\atif\AppData\Local\Temp\ipykernel_16292\4270040304.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  invoice['Submitted Date'] = pd.to_datetime(invoice['Submitted Date'], dayfirst=True, errors="coerce")

In [471]:
invoice["Amount"] = pd.to_numeric(invoice["Amount"].str.replace(",",""), errors="coerce")

In [472]:
invoice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16376 entries, 0 to 16375
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Concatenate (EBS)  16376 non-null  object
 1   Supplier Name      16376 non-null  object
 2   Purchase Order No  16363 non-null  object
 3   EBS No             14357 non-null  object
 4   Invoice Ref.       16342 non-null  object
 5   Invoice Date       16369 non-null  datetime64[ns]
 6   Submitted Date     16248 non-null  datetime64[ns]
 7   Amount             16353 non-null  float64
dtypes: datetime64[ns](2), float64(1), object(5)
memory usage: 1023.6+ KB

In [473]:
invoice.head(50)

,Concatenate (EBS),Supplier Name,Purchase Order No,EBS No,Invoice Ref.,Invoice Date,Submitted Date,Amount
0,4988-957,Naseer Autos,4988,957,4988,2019-06-14,2019-06-17,104929.00
1,5017-1356,Pakistan Oxygen,5017,1356,371519055,2019-05-29,2019-06-17,38689.15
2,5017-,Pakistan Oxygen,5017,NaN,371519055,2019-05-29,2019-06-17,38689.15
3,5017-1357,Pakistan Oxygen,5017,1357,371519023,2019-05-23,2019-06-17,19864.85
4,5017-,Pakistan Oxygen,5017,NaN,371519023,2019-05-23,2019-06-17,19864.85
5,4719-,Bureau Veritas,4719,NaN,19002497,2019-05-28,2019-06-17,216847.00
6,4799-1411,Rauf Electronic,4799,1411,07215/1819M,2019-06-13,2019-06-17,70200.00
7,4644-3369,United Chemical Corporation,4644,3369,002496,2019-06-01,2019-06-17,678600.00
8,5149-3444,Martin Dow,5149,3444,9200007685,2019-06-14,2019-06-17,1010880.00
9,3275-3423,Metier Ampoule,3275,3423,18190095,2019-06-12,2019-06-17,344963.00
10,3275-3424,Metier Ampoule,3275,3424,18190094,2019-06-12,2019-06-17,387892.00
11,4999-3425,Metier Ampoule,4999,3425,18190093,2019-06-04,2019-06-17,542599.00
12,4453-3407,Metier Impressions,4453,3407,18190595,2019-06-10,2019-06-17,150134.00
13,4453-3408,Metier Impressions,4453,3408,18190596,2019-06-10,2019-06-17,45011.00
14,4961-3406,Metier Impressions,4961,3406,18190597,2019-06-10,2019-06-17,235333.00
15,3808-3427,Metier Impressions,3808,3427,18190598,2019-06-12,2019-06-17,154622.00
16,4961-3428,Metier Impressions,4961,3428,18190599,2019-06-12,2019-06-17,169963.00
17,3336-3437,Metier Impressions,3336,3437,18190600,2019-06-13,2019-06-17,348973.00
18,4539-3440,Metier Impressions,4539,3440,18190601,2019-06-13,2019-06-17,67549.00
19,4539-3439,Metier Impressions,4539,3439,18190602,2019-06-13,2019-06-17,64079.00
20,3576-3438,Metier Impressions,3576,3438,18190603,2019-06-13,2019-06-17,134055.00
21,4671-3442,Metier Impressions,4671,3442,18190604,2019-06-13,2019-06-17,20158.00
22,2592-3422,Metier Plastic,2592,3422,18190373,2019-06-12,2019-06-17,30708.00
23,2592-3426,Metier Plastic,2592,3426,18190374,2019-06-12,2019-06-17,409500.00
24,2592-3431,Metier Plastic,2592,3431,18190375,2019-06-13,2019-06-17,533754.00
25,2592-3432,Metier Plastic,2592,3432,18190375,2019-06-13,2019-06-17,533754.00
26,2592-3441,Metier Plastic,2592,3441,18190376,2019-06-13,2019-06-17,224640.00
27,4419-942,Syscom International,4419,942,451,2019-06-12,2019-06-17,10559.25
28,3392-862,Wadittar Engineering,3392,862,1259,2019-05-13,2019-06-17,110000.00
29,4912-1325,Lucky Cement Limited,4912,1325,91257391,2019-05-10,2019-06-17,233948.40
30,5046-964,Imran Engineering,5046,964,136,2019-06-12,2019-06-17,108500.00
31,5206-,Transworld,5206,NaN,INV-56050-L6K3J6,2019-06-01,2019-06-19,252574.45
32,4883-,Ghulam Muhammad Sons,4883,NaN,0237,2019-06-15,2019-06-19,16950.00
33,3661-195,Jamaly Enterprises,3661,195,3001,2019-06-10,2019-06-19,125307.00
34,3661-180,Jamaly Enterprises,3661,180,3001,2019-06-10,2019-06-19,125307.00
35,4839-,Naseer Autos,4839,NaN,1900/04452,2019-04-10,2019-06-19,73164.00
36,4153-1413,Micro Scientific,4153,1413,13038,2019-06-16,2019-06-19,94185.00
37,4980-3452,Aman Enterprise,4980,3452,526,2019-06-13,2019-06-19,40000.00
38,3641-3038,Metier Plastic,3641,3038,18190280,2019-04-08,2019-06-19,102375.00
39,3765-3376,IDEAPAC,3765,3376,1048,2019-06-03,2019-06-20,221130.00
40,2880-,IZEE TECH ENGINEERING,2880,NaN,172,2019-06-18,2019-06-20,31000.00
41,2880-,IZEE TECH ENGINEERING,2880,NaN,298,2019-06-18,2019-06-20,31000.00
42,2060-,Orient Rental Modarba,2060,NaN,RSRB1906016,2019-06-03,2019-06-20,184000.00
43,3418-1422,Syed Enterprise,3418,1422,327,2019-06-18,2019-06-20,509250.00
44,3418-1421,Syed Enterprise,3418,1421,327,2019-06-18,2019-06-20,509250.00
45,3418-1420,Syed Enterprise,3418,1420,327,2019-06-18,2019-06-20,509250.00
46,3418-1419,Syed Enterprise,3418,1419,327,2019-06-18,2019-06-20,509250.00
47,3418-1418,Syed Enterprise,3418,1418,328,2019-06-18,2019-06-20,65550.00
48,1379-1417,Syed Enterprise,1379,1417,329,2019-06-18,2019-06-20,325000.00
49,1853-1416,Dimensions,1853,1416,102113,2019-06-17,2019-06-21,1877457.00

In [474]:
receiving = pd.read_csv("monitoring.csv",
                        encoding="latin1", parse_dates=["PO ( EBS ) Delivery Date","MRR Date ( EBS )",
                                                        "Sample Date", "MRR Release Date",
                                                        "Invoice Date", "Invoice Record Date"],dayfirst=True)

C:\Users\atif\AppData\Local\Temp\ipykernel_16292\1891061398.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  receiving = pd.read_csv("monitoring.csv",
C:\Users\atif\AppData\Local\Temp\ipykernel_16292\1891061398.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  receiving = pd.read_csv("monitoring.csv",
C:\Users\atif\AppData\Local\Temp\ipykernel_16292\1891061398.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  receiving = pd.read_csv("monitoring.csv",
C:\Users\atif\AppData\Local\Temp\ipykernel_16292\1891061398.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  receiving = pd.read_csv("monitoring.csv",
C:\Users\atif\AppData\Local\Temp\ipykernel_16292\1891061398.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  receiving = pd.read_csv("monitoring.csv",

In [475]:
receiving[["PO No  ( EBS )", "MRR No. ( EBS )", "MRR No. ( Fusion )"]] = receiving[["PO No  ( EBS )", "MRR No. ( EBS )", "MRR No. ( Fusion )"]].astype(str)

In [476]:
receiving["Quantity"] = receiving["Quantity"].str.replace(",", "").astype(float)

In [477]:
receiving["Value"] = receiving["Value"].str.replace(",", "").astype(float)

In [478]:
receiving.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67755 entries, 0 to 67754
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Organization              67753 non-null  object
 1   Supplier                  67753 non-null  object
 2   LC No                     1820 non-null   object
 3   DC Number                 50527 non-null  object
 4   PO No  ( EBS )            67755 non-null  object
 5   PO ( EBS ) Delivery Date  67751 non-null  datetime64[ns]
 6   Quantity                  67753 non-null  float64
 7   Value                     67753 non-null  float64
 8   MRR No. ( EBS )           67755 non-null  object
 9   MRR Date ( EBS )          67753 non-null  datetime64[ns]
 10  MRR No. ( Fusion )        67755 non-null  object
 11  Item Name                 67753 non-null  object
 12  Sample Date               13304 non-null  datetime64[ns]
 13  MRR Release Date          10732 non-null  datetime64[ns]
 14  Invoice Number            62522 non-null  object
 15  Invoice Date              62522 non-null  datetime64[ns]
 16  Invoice Record Date       62522 non-null  datetime64[ns]
dtypes: datetime64[ns](6), float64(2), object(9)
memory usage: 8.8+ MB

In [479]:
invoice.head(25)

,Concatenate (EBS),Supplier Name,Purchase Order No,EBS No,Invoice Ref.,Invoice Date,Submitted Date,Amount
0,4988-957,Naseer Autos,4988,957,4988,2019-06-14,2019-06-17,104929.00
1,5017-1356,Pakistan Oxygen,5017,1356,371519055,2019-05-29,2019-06-17,38689.15
2,5017-,Pakistan Oxygen,5017,NaN,371519055,2019-05-29,2019-06-17,38689.15
3,5017-1357,Pakistan Oxygen,5017,1357,371519023,2019-05-23,2019-06-17,19864.85
4,5017-,Pakistan Oxygen,5017,NaN,371519023,2019-05-23,2019-06-17,19864.85
5,4719-,Bureau Veritas,4719,NaN,19002497,2019-05-28,2019-06-17,216847.00
6,4799-1411,Rauf Electronic,4799,1411,07215/1819M,2019-06-13,2019-06-17,70200.00
7,4644-3369,United Chemical Corporation,4644,3369,002496,2019-06-01,2019-06-17,678600.00
8,5149-3444,Martin Dow,5149,3444,9200007685,2019-06-14,2019-06-17,1010880.00
9,3275-3423,Metier Ampoule,3275,3423,18190095,2019-06-12,2019-06-17,344963.00
10,3275-3424,Metier Ampoule,3275,3424,18190094,2019-06-12,2019-06-17,387892.00
11,4999-3425,Metier Ampoule,4999,3425,18190093,2019-06-04,2019-06-17,542599.00
12,4453-3407,Metier Impressions,4453,3407,18190595,2019-06-10,2019-06-17,150134.00
13,4453-3408,Metier Impressions,4453,3408,18190596,2019-06-10,2019-06-17,45011.00
14,4961-3406,Metier Impressions,4961,3406,18190597,2019-06-10,2019-06-17,235333.00
15,3808-3427,Metier Impressions,3808,3427,18190598,2019-06-12,2019-06-17,154622.00
16,4961-3428,Metier Impressions,4961,3428,18190599,2019-06-12,2019-06-17,169963.00
17,3336-3437,Metier Impressions,3336,3437,18190600,2019-06-13,2019-06-17,348973.00
18,4539-3440,Metier Impressions,4539,3440,18190601,2019-06-13,2019-06-17,67549.00
19,4539-3439,Metier Impressions,4539,3439,18190602,2019-06-13,2019-06-17,64079.00
20,3576-3438,Metier Impressions,3576,3438,18190603,2019-06-13,2019-06-17,134055.00
21,4671-3442,Metier Impressions,4671,3442,18190604,2019-06-13,2019-06-17,20158.00
22,2592-3422,Metier Plastic,2592,3422,18190373,2019-06-12,2019-06-17,30708.00
23,2592-3426,Metier Plastic,2592,3426,18190374,2019-06-12,2019-06-17,409500.00
24,2592-3431,Metier Plastic,2592,3431,18190375,2019-06-13,2019-06-17,533754.00